@media only screen and (max-width: 992px) {
	.carousel-caption, .carousel-indicators {
		visibility: hidden;
	}
	.nav-pills li a {
		font-size:12px;
	}
}
@media only screen and (max-width: 767px) {
	.nav-pills li a {
		font-size:10px;
	}
}
